body{
    text-align:center;
}
img{
    width:900px;
 
}
body{
  background:pink;}
h1{
font-family: 'Anton', sans-serif;}

li {
     font-size: 1.5em;
     
     font-weight: bold;
}
img{
    width:900px;
}